In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("data/conjunto_de_treinamento.csv")
df_test = pd.read_csv("data/conjunto_de_teste.csv")
print(list(df_train.columns))
df_train.head()

['id_solicitante', 'produto_solicitado', 'dia_vencimento', 'forma_envio_solicitacao', 'tipo_endereco', 'sexo', 'idade', 'estado_civil', 'qtde_dependentes', 'grau_instrucao', 'nacionalidade', 'estado_onde_nasceu', 'estado_onde_reside', 'possui_telefone_residencial', 'codigo_area_telefone_residencial', 'tipo_residencia', 'meses_na_residencia', 'possui_telefone_celular', 'possui_email', 'renda_mensal_regular', 'renda_extra', 'possui_cartao_visa', 'possui_cartao_mastercard', 'possui_cartao_diners', 'possui_cartao_amex', 'possui_outros_cartoes', 'qtde_contas_bancarias', 'qtde_contas_bancarias_especiais', 'valor_patrimonio_pessoal', 'possui_carro', 'vinculo_formal_com_empresa', 'estado_onde_trabalha', 'possui_telefone_trabalho', 'codigo_area_telefone_trabalho', 'meses_no_trabalho', 'profissao', 'ocupacao', 'profissao_companheiro', 'grau_instrucao_companheiro', 'local_onde_reside', 'local_onde_trabalha', 'inadimplente']

,id_solicitante,produto_solicitado,dia_vencimento,forma_envio_solicitacao,tipo_endereco,sexo,idade,estado_civil,qtde_dependentes,grau_instrucao,...,possui_telefone_trabalho,codigo_area_telefone_trabalho,meses_no_trabalho,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro,local_onde_reside,local_onde_trabalha,inadimplente
0,1,1,10,presencial,1,M,85,2,0,0,...,N,,0,9.0,1.0,0.0,0.0,600.0,600.0,0
1,2,1,25,internet,1,F,38,1,0,0,...,N,,0,2.0,5.0,NaN,NaN,492.0,492.0,0
2,3,1,20,internet,1,F,37,2,0,0,...,N,,0,NaN,NaN,NaN,NaN,450.0,450.0,1
3,4,1,20,internet,1,M,37,1,1,0,...,Y,54,0,9.0,2.0,NaN,NaN,932.0,932.0,1
4,5,7,1,internet,1,F,51,1,3,0,...,N,,0,9.0,5.0,NaN,NaN,440.0,440.0,1

In [4]:
def treat_df(df, filename):
    try:
        df = df[["sexo", "forma_envio_solicitacao", "estado_onde_reside", "produto_solicitado", "dia_vencimento", "tipo_endereco", "idade", "estado_civil", "qtde_dependentes", "nacionalidade", "qtde_contas_bancarias", "renda_mensal_regular", "renda_extra", "possui_telefone_residencial", "possui_email", "possui_cartao_visa", "possui_cartao_mastercard", "possui_cartao_diners", "possui_cartao_amex", "possui_outros_cartoes", "possui_carro", "vinculo_formal_com_empresa", "meses_no_trabalho", "local_onde_reside", "tipo_residencia", "meses_na_residencia", "profissao", "ocupacao", "profissao_companheiro", "grau_instrucao_companheiro", "inadimplente"]]
    except:
        df = df[["sexo", "forma_envio_solicitacao", "estado_onde_reside", "produto_solicitado", "dia_vencimento", "tipo_endereco", "idade", "estado_civil", "qtde_dependentes", "nacionalidade", "qtde_contas_bancarias", "renda_mensal_regular", "renda_extra", "possui_telefone_residencial", "possui_email", "possui_cartao_visa", "possui_cartao_mastercard", "possui_cartao_diners", "possui_cartao_amex", "possui_outros_cartoes", "possui_carro", "vinculo_formal_com_empresa", "meses_no_trabalho", "local_onde_reside", "tipo_residencia", "meses_na_residencia", "profissao", "ocupacao", "profissao_companheiro", "grau_instrucao_companheiro"]]
    df["sexo"] = df["sexo"].replace(" ", "N")
    df["possui_telefone_residencial"] = df["possui_telefone_residencial"].replace({"Y": 1, "N": 0})
    df["vinculo_formal_com_empresa"] = df["vinculo_formal_com_empresa"].replace({"Y": 1, "N": 0})
    df.to_csv(f"data/{filename}.csv", index=False)
    return df

In [5]:
treat_df(df_train, "train")

<ipython-input-4-a2afcf056e3b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sexo"] = df["sexo"].replace(" ", "N")
<ipython-input-4-a2afcf056e3b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["possui_telefone_residencial"] = df["possui_telefone_residencial"].replace({"Y": 1, "N": 0})
<ipython-input-4-a2afcf056e3b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["vinculo_formal_com_empresa"] = df["vinculo_formal_com_empresa"].replace({"Y": 1, "N": 0})

,sexo,forma_envio_solicitacao,estado_onde_reside,produto_solicitado,dia_vencimento,tipo_endereco,idade,estado_civil,qtde_dependentes,nacionalidade,...,vinculo_formal_com_empresa,meses_no_trabalho,local_onde_reside,tipo_residencia,meses_na_residencia,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro,inadimplente
0,M,presencial,CE,1,10,1,85,2,0,1,...,0,0,600.0,1.0,12.0,9.0,1.0,0.0,0.0,0
1,F,internet,SE,1,25,1,38,1,0,1,...,0,0,492.0,1.0,5.0,2.0,5.0,NaN,NaN,0
2,F,internet,BA,1,20,1,37,2,0,1,...,0,0,450.0,5.0,1.0,NaN,NaN,NaN,NaN,1
3,M,internet,RS,1,20,1,37,1,1,1,...,1,0,932.0,1.0,1.0,9.0,2.0,NaN,NaN,1
4,F,internet,BA,7,1,1,51,1,3,1,...,1,0,440.0,0.0,1.0,9.0,5.0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,M,presencial,MG,1,10,1,27,2,0,1,...,1,0,308.0,2.0,0.0,9.0,1.0,0.0,0.0,0
19996,F,presencial,CE,1,20,1,26,2,1,1,...,1,0,639.0,1.0,3.0,9.0,2.0,0.0,0.0,0
19997,F,internet,BA,1,10,1,63,2,0,1,...,0,0,486.0,5.0,25.0,9.0,1.0,NaN,NaN,0
19998,F,internet,RN,1,5,1,84,1,0,1,...,0,0,590.0,1.0,30.0,NaN,NaN,NaN,NaN,0
19999,F,presencial,SP,2,20,1,53,1,0,1,...,0,0,132.0,1.0,11.0,9.0,5.0,0.0,0.0,0

In [6]:
treat_df(df_test, "test")

<ipython-input-4-a2afcf056e3b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sexo"] = df["sexo"].replace(" ", "N")
<ipython-input-4-a2afcf056e3b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["possui_telefone_residencial"] = df["possui_telefone_residencial"].replace({"Y": 1, "N": 0})
<ipython-input-4-a2afcf056e3b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["vinculo_formal_com_empresa"] = df["vinculo_formal_com_empresa"].replace({"Y": 1, "N": 0})

,sexo,forma_envio_solicitacao,estado_onde_reside,produto_solicitado,dia_vencimento,tipo_endereco,idade,estado_civil,qtde_dependentes,nacionalidade,...,possui_carro,vinculo_formal_com_empresa,meses_no_trabalho,local_onde_reside,tipo_residencia,meses_na_residencia,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro
0,M,presencial,MG,1,25,1,37,2,0,1,...,1,0,0,384.0,1.0,5.0,0.0,0.0,0.0,0.0
1,F,internet,RJ,1,10,1,31,2,0,1,...,0,1,0,275.0,1.0,1.0,9.0,5.0,NaN,NaN
2,F,internet,RS,1,10,1,18,2,0,1,...,0,1,0,948.0,1.0,12.0,9.0,2.0,NaN,NaN
3,F,presencial,PB,1,10,1,55,2,0,1,...,1,0,0,581.0,1.0,25.0,9.0,1.0,0.0,0.0
4,F,presencial,AL,1,10,1,55,1,0,1,...,1,0,0,573.0,1.0,11.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,F,presencial,MA,1,10,1,49,2,1,1,...,1,0,0,652.0,1.0,8.0,9.0,1.0,0.0,0.0
4996,M,internet,PR,1,5,1,18,2,0,1,...,0,0,0,855.0,1.0,2.0,NaN,NaN,NaN,NaN
4997,F,presencial,MG,1,10,1,29,1,0,1,...,0,0,0,371.0,1.0,2.0,9.0,5.0,NaN,NaN
4998,F,internet,PA,1,25,1,31,2,2,1,...,0,1,0,670.0,5.0,10.0,NaN,NaN,NaN,NaN
4999,F,presencial,BA,1,25,1,54,1,0,1,...,1,1,0,402.0,1.0,14.0,9.0,5.0,0.0,0.0

In [ ]:
df_train = df_train.replace(np.nan, -1)

In [ ]:
print("Número de pessoas que trabalham em estado diferente do estado de residência:", sum(list(df_train.loc[df_train["estado_onde_trabalha"] != " "][["estado_onde_reside", "estado_onde_trabalha"]].loc[df_train["estado_onde_trabalha"] != df_train["estado_onde_reside"]].value_counts())))

In [ ]:
df_train = df_train[["produto_solicitado", "dia_vencimento", "forma_envio_solicitacao", "tipo_endereco", "sexo", "idade", "estado_civil", "qtde_dependentes", "grau_instrucao", "nacionalidade", "estado_onde_reside", "possui_telefone_residencial", "tipo_residencia", "meses_na_residencia", "possui_email", "renda_mensal_regular", "renda_extra", "possui_cartao_visa", "possui_cartao_mastercard", "possui_cartao_diners", "possui_cartao_amex", "possui_outros_cartoes", "qtde_contas_bancarias", "possui_carro", "vinculo_formal_com_empresa", "meses_no_trabalho", "profissao", "ocupacao", "profissao_companheiro", "grau_instrucao_companheiro", "local_onde_reside", "inadimplente"]]

In [ ]:
df_train["profissao_companheiro"].value_counts()

In [ ]:
print("Antes:", df_train["sexo"].value_counts(), sep="\n")
df_train["sexo"] = df_train["sexo"].replace(" ","N")
print("Depois:", df_train["sexo"].value_counts(), sep="\n")

In [ ]:
print("Antes:", df_train["possui_telefone_residencial"].value_counts(), sep="\n")
df_train["possui_telefone_residencial"] = df_train["possui_telefone_residencial"].replace({"Y": 1, "N": 0})
print("Depois:", df_train["possui_telefone_residencial"].value_counts(), sep="\n")

In [ ]:
df_train["grau_instrucao"].unique()

In [ ]:
# df_train.to_csv("data/train.csv")